@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:500|Open+Sans');
body {
  background: url(../img/title.png) no-repeat center 15px,
              url(../img/before.png) no-repeat right 1500px,
              url(../img/after.png) no-repeat left 2700px,
              url(../img/landing.png) repeat-x left 9905px,
              url(../img/trees.png) repeat-x left 9810px,
              url(../img/mountain.png) no-repeat 200px 9620px,
              url(../img/cloudsbg.png) repeat,
              url(../img/ufo.png) no-repeat 100px 6750px,
              url(../img/grain.png) repeat,
              linear-gradient(to bottom, rgba(94,191,255,1) 0%, rgba(250,247,205,0.86) 59%, rgba(205,232,250,0.77) 98%, rgba(205,232,250,0.77) 100%);
  /* background: #438bff; */
}
#counter {
  /* border: 1px solid red; */
  position: absolute;
  top:300px;
  left:524px;
  margin: 0;
  padding: 10px;
  width: 280px;
  height: 307px;
  line-height: 100px;
  text-align: center;
  /* background-image: url(../img/diver1.png) no-repeat center; */

}
#chute {
  /* border: 1px solid red; */
  position: absolute;
  top:100px;
  left:450px;
  margin: 0;
  padding: 10px;
  width: 280px;
  height: 307px;
  line-height: 100px;
  text-align: center;
  /* background-image: url(../img/diver1.png) no-repeat center; */

}

#stand{
  /* border: 1px solid red; */
  position: absolute;
  top:100px;
  left:525px;
  margin: 0;
  padding: 10px;
  width: 130px;
  height: 207px;
  line-height: 100px;
  text-align: center;
  /* background-image: url(../img/diver1.png) no-repeat center; */

}

#canvas {
  /* border: 1px solid blue; */
  /* background-color: #438bff; */
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 10000px;
  padding:0;
  /* background: url(../img/landing.png) repeat-x left 9900px,url(../img/mountain.png) no-repeat 200px 9600px; */
}

/* .trees {
  position: absolute;
  z-index:1;
  top: 9720px;
  width: 100%;
  height: 107px;
  background: url(../img/trees.png) repeat-x left;
} */

.plane{
  position: absolute;
  top: 400px;
  left:400px;
  animation: flycenter 7s, flying 2s infinite;
}

@keyframes flycenter {
  from {
    left: 10px;
  }
  to {
    left: 400px;
  }
}

@keyframes flying {
  0%{
     transform: translateY(10px);
   }
   50% {
     transform: translateY(20px);
   }
   100% {
     transform: translateY(10px);
   }
}

@keyframes flying2 {
  0%{
     transform: translateY(20px);
   }
   50% {
     transform: translateY(10px);
   }
   100% {
     transform: translateY(20px);
   }
}

/* animation for parachute going down */
@keyframes paradown {
  0% {
    transform:rotate(-2deg);
  }
  50% {
    transform:rotate(5deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

.birds {
  position: absolute;
  top: 4000px;
  left: 370px;
  width: 450px;
  height: 205px;
  margin: 0 auto;
  background: url('../img/birds.png') left center;
  animation:  flying 2s infinite, birdsfloat .3s steps(3) infinite;
  /* z-index: 1;
  margin-top: -250px; */
}

@keyframes birdsfloat {
 100% { background-position: -1350px; }
}


.balloon1 {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 399px;
  top: 3000px;
  left: 200px;
  animation: flying 2s infinite;
}
.balloon1, .balloon2, .balloon3, .hotballoon {
  position: relative;
  display: inline-block;
  animation: flying 2s infinite;
}

.balloon2, .hotballoon {
  position: relative;
  display: inline-block;
  animation: flying2 3s infinite;
}


.balloon1 {
  background: url(../img/balloon1.png);
  width: 249px;
  height: 663px;
  top: 5000px;
  left: 15px;
}

.balloon2 {
  background: url(../img/balloon2.png);
  width: 249px;
  height: 663px;
  top: 6000px;
  left: 700px;
}

.balloon3 {
  background: url(../img/balloon3.png);
  width: 249px;
  height: 663px;
  top: 7100px;
  left: -500px;
}

.hotballoon {
  background: url(../img/hotair.png);
  width: 275px;
  height: 719px;
  top: 8000px;
  left: 120px;
}

#diver3{
  background: url(../img/diver3.png);
  width: 150px;
  height: 225px;
  top: 8700px;
  position: relative;
  margin: auto;
  /* animation: lastdiver 4s ease-in-out forwards; */
}

@keyframes lastdiver {
  from{
     transform: translateY(0px);
   }
  to{
     transform: translateY(500px);
}
}

.diverfirst {
  background: url(../img/diver1.png);
  position: absolute;
  width: 150px;
  height: 71px;
  animation: paradown 2s infinite;
}
.diverchute {
  background: url(../img/diver2.png);
  width: 300px;
  height: 328px;
  animation: paradown 2s infinite;
}

.banner{
  background: url(../img/bannerend.png);
  width: 800px;
  height: 310px;
  top: 8500px;
  position: relative;
  margin: 0 auto;
  z-index:1;
}

.about{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  padding: 2px;
  display: inline-block;
  position: relative;
  margin: 0 10px 0 10px;
  top: -990px;
  left: 530px;
}

a:link, a:visited {
  color: #FC575E;
  background-color: #FFF;
  border-radius: 3px;
  text-decoration: none;
  padding: 4px 6px;
  margin: 8px;
  font-size: 1.8em;
}
a:hover {
  color: #000;
  background-color: #FC575E;
  text-decoration: none;
}
#aboutstyles   {
  background: url(../img/cloudsbg.png) repeat,
              url(../img/grain.png) repeat,
              linear-gradient(to bottom, rgba(94,191,255,1) 0%, rgba(250,247,205,0.86) 59%, rgba(205,232,250,0.77) 98%, rgba(205,232,250,0.77) 100%);
  position: absolute;
}
#aboutstyles .abouttitle {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  position: relative;
  top: 40px;
  font-size: 3em;
  text-align: center;
  background: #FFF;
  display: block;
  color: #FC575E;

}
#aboutstyles h2, h3 {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
#aboutstyles p{
  line-height: 25px;
}
#aboutstyles .aboutbody {
  font-family: 'Open Sans', sans-serif;
  padding: 30px 50px 30px 50px;
  background: #FFF;
  border-radius: 5px;
  margin: 0 150px 10px 150px;
}

#aboutstyles .abouthome{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  padding: 2px;
  display: inline-block;
  margin: 0 auto;
  width: 8em;
  position: relative;
  left:44%;

}

#aboutstyles a:link, #aboutstyles a:visited {
  color: #FC575E;
  background-color: #FFF;
  border-radius: 3px;
  text-decoration: none;
  padding: 4px 6px;
  margin: 8px;
  font-size: 1.8em;
}
#aboutstyles a:hover {
  color: #000;
  background-color: #FC575E;
  text-decoration: none;
}

.buttonstyle {
  position: absolute;
  padding: 5px;
  font-size: 2em;
  left: 535px;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  top: 9550px;
  background: #FFF;
  color: #FC575E;
  border-color: #FFF;

}
